.mat-list-item{
    font-size: 15px;
    color: rgb(255 255 255 / 87%);
}
.nav-list-title{
    color: rgb(255 255 255 / 67%);
    margin:23px ;
    font-weight: 500;
    font-size: 13px;
}
.mat-line{
    padding-right: 0.4em !important;
}