<app-header></app-header>
<mat-drawer-container class="container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
      <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin: 10px;">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
      <app-sidebar [isExpanded]="isExpanded"></app-sidebar>
      
    </mat-drawer>
  
    <div class="sidenav-content">
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
      You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.You cards and screen Contents goes here..
      Will be pushed towards right on expanding side navbar.
    </div>
  </mat-drawer-container>
<app-footer></app-footer>

