<mat-toolbar  class="example-toolbar" color="primary">
    <div>
      <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <span class="example-app-name">My Application</span>
    </div>
    <!-- <div class="search">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Search" value="">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div> -->
    <div class="info">
      <mat-card style="display: none"></mat-card>
      <!-- <picture> -->
        <!-- <source media='(min-width:0px)' srcset="https://www.materialui.co/materialIcons/action/account_circle_grey_192x192.png"> -->
        <img mat-card-avatar src="https://www.materialui.co/materialIcons/action/account_circle_grey_192x192.png" alt="Photo of a Shiba Inu">
      <!-- </picture> -->
      <!-- <span class="infoname">username</span>
      <mat-icon>keyboard_arrow_down</mat-icon> -->
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container class="mat-typography" autosize >
    <mat-sidenav #drawer mode="side" disableClose="true" opened="true" color="primary">
        <app-sidebar [isExpanded]="isExpanded"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>