<mat-toolbar  class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">My Application</h1>
  </mat-toolbar>
  <mat-sidenav-container class="container mat-typography" autosize >
    <mat-sidenav #drawer mode="side" disableClose="true" opened="true">
        <app-sidebar [isExpanded]="isExpanded"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
        You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.You cards and screen Contents goes here..
        Will be pushed towards right on expanding side navbar.
    </mat-sidenav-content>
  </mat-sidenav-container>