<mat-card>
    <div>
      <mat-card-title>
       Add Exam
      </mat-card-title>
    </div>
  </mat-card>
  <div class="container mt-4">
    <div class="row">
        <div class="example-container col">
            <mat-form-field appearance="fill">
              <mat-label>Enter No. Of Question</mat-label>
              <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter Question</mat-label>
                <input matInput>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Option A</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Option B</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Option C</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Option D</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Answer</mat-label>
                <input matInput>
              </mat-form-field>
    </div>
        
      </div>
  </div>
  