:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
.mat-card-title{
  margin-bottom: 20px;
}
.mat-form-field {
  width: 100%;
}
.mat-card{
  min-width: 50%;
}
input{
  padding: 6px 0;
}
.mat-icon-button{
    font-size:21px !important;
}
.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}